# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# IDE/project settings
.vscode/
.idea/

# Matplotlib cache
*.matplotlib

# Test/coverage output
.coverage
htmlcov/
